<md-list-item>
    <md-icon>cached</md-icon>
    <p>Reitoria</p>
    <md-switch class="md-secondary" ng-model="campus.reitoria" ng-change="addCampus('Reitoria')"></md-switch>
    <md-divider></md-divider>
</md-list-item>

<md-list-item>
    <md-icon>cached</md-icon>
    <p>Campos Belos</p>
    <md-switch class="md-secondary" ng-model="campus.camposBelos"></md-switch>
    <md-divider></md-divider>
</md-list-item>

<md-list-item>
    <md-icon>cached</md-icon>
    <p>Catalão</p>
    <md-switch class="md-secondary" ng-model="campus.catalao"></md-switch>
    <md-divider></md-divider>
</md-list-item>

<md-list-item>
    <md-icon>cached</md-icon>
    <p>Ceres</p>
    <md-switch class="md-secondary" ng-model="campus.ceres"></md-switch>
    <md-divider></md-divider>
</md-list-item>

<md-list-item>
    <md-icon>cached</md-icon>
    <p>Cristalina</p>
    <md-switch class="md-secondary" ng-model="campus.cristalina"></md-switch>
    <md-divider></md-divider>
</md-list-item>

<md-list-item>
    <md-icon>cached</md-icon>
    <p>Hidrolândia</p>
    <md-switch class="md-secondary" ng-model="campus.hidrolandia"></md-switch>
    <md-divider></md-divider>
</md-list-item>

<md-list-item>
    <md-icon>cached</md-icon>
    <p>Ipameri</p>
    <md-switch class="md-secondary" ng-model="campus.ipameri"></md-switch>
    <md-divider></md-divider>
</md-list-item>

<md-list-item>
    <md-icon>cached</md-icon>
    <p>Iporá</p>
    <md-switch class="md-secondary" ng-model="campus.ipora"></md-switch>
    <md-divider></md-divider>
</md-list-item>

<md-list-item>
    <md-icon>cached</md-icon>
    <p>Morrinhos</p>
    <md-switch class="md-secondary" ng-model="campus.morrinhos"></md-switch>
    <md-divider></md-divider>
</md-list-item>

<md-list-item>
    <md-icon>cached</md-icon>
    <p>Posse</p>
    <md-switch class="md-secondary" ng-model="campus.posse"></md-switch>
    <md-divider></md-divider>
</md-list-item>

<md-list-item>
    <md-icon>cached</md-icon>
    <p>Rio Verde</p>
    <md-switch class="md-secondary" ng-model="campus.rioVerde"></md-switch>
    <md-divider></md-divider>
</md-list-item>

<md-list-item>
    <md-icon>cached</md-icon>
    <p>Urutaí</p>
    <md-switch class="md-secondary" ng-model="campus.urutai"></md-switch>
    <md-divider></md-divider>
</md-list-item>